{% extends 'base.html' %}

{% block title %}预览文件 - {{ filename }}{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        预览 - {{ filename }}
    </div>
    <div class="card-body">
        <pre>{{ content | e }}</pre> <!-- 使用过滤器 e 转义特殊字符 -->
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-back" onclick="window.location.href='{{ url_for('script_management') }}';">
            <i class="fas fa-arrow-left"></i>&nbsp;返回
        </button>
    </div>

</div>
{% endblock %}
